<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img 
        src="assets/ps-logo.png" 
        alt="Playstation logo"
        width="140px"
        height="32px"
        >
    </div>

    <div class="menu-bar__item">
        <ul>
            <li><a href="https://www.linkedin.com/in/filipe-mello-mostardeiro/" target="_blank">LINKEDIN</a></li>
            <li><a href="https://github.com/FilipeMell0" target="_blank">GITHUB</a></li>
            <li><a href="mailto:filipem.mostardeiro@gmail.com" target="_blank">E-MAIL</a></li>
        </ul>
    </div>
</div>
